:root{
	--primaryColor: #08EEE0;
	--mainDarkGray:  #5C5C5C;
	--mainBlack: #3E3C3C;
}

body{
	background: var(--mainDarkGray);
}

/* MENU BAR */

.menu-bar{
	position: absolute;
	width: 100%;
	height: 89px;
	left: 0px;
	top: 0px;
	background:var(--mainBlack);

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	color: var(--primaryColor);
}

.main-title{

	margin:2rem;
	font-family: 'JejuMyeongjo';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 48px;
	color: #08EEE0;
}
.select-model{

	font-family: 'JejuMyeongjo';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 48px;
	color: #08EEE0;
}

/*MAIN CONTAINER*/

.input-container{
	display: flex;
	flex-direction: row;
	margin: 300px;
	margin-top: 2rem;
}

.main-container{
	margin-top: 6rem;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: var(--mainDarkGray);
}

.image-container{
	box-sizing: border-box;
	width: 25rem;
	height: 20rem;
	overflow: hidden;
background: rgba(0, 0, 0, 0.2);
border: 1px solid var(--primaryColor);
}


.img{
	width: 25rem;
	height: 20rem;
}

.model-information{
	position: absolute;
	color: var(--primaryColor);
	margin-top:1.4rem;
}

/*BUTTONS */

.btn-style{
	background: var(--mainBlack);
	border: 1px solid var(--primaryColor);
	cursor: pointer;
	margin: .5rem;
	width: 11rem;
	height: 2.7rem;

	font-size: 1rem;
	letter-spacing: .2rem;

	color: var(--primaryColor);
	transition: .2s;
}

.btn-style:hover{
	background: var(--primaryColor);
	color: var(--mainDarkGray);

}

input[type="file"] {
    display: none;
}

/*in my case the label is now the button*/
.upload-file{
	background: var(--mainBlack);
	border: 1px solid var(--primaryColor);
	cursor: pointer;
	margin: .5rem;
	width: 11rem;
	height: 2rem;
	padding-left: 1.9rem;
	padding-top: .6rem;

	font-size: 1rem;
	letter-spacing: .1rem;


	color: var(--primaryColor);
	transition: .2s;

}

.upload-file:hover{
	background: var(--primaryColor);
	color: var(--mainDarkGray);
}

/*MENU FOR THE SELECTION OF MODELS*/

.select-model{
	cursor: pointer;
}

.model-selection{
	position: absolute;
	top: 6rem;
	right: 3rem;
	background: var(--mainBlack);
	color: var(--primaryColor);
	border-radius: .8rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	padding: 0;
	
}

.hidden{
	;
	visibility: hidden;
}

.model{
	padding: .8rem .25rem;
	font-size: 1.5rem;
	margin:0;
	width: 98%;
	border-radius: 1rem;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: .2s;

}

.model:hover{
	background: var(--primaryColor);
	color: var(--mainDarkGray);
	cursor: pointer;
}

.selected{
	background: var(--primaryColor);
	color: var(--mainDarkGray);
}

.marker{
	position: absolute;
	width: 8rem;
	visibility: hidden;
	top: 4rem;
	border-radius: 1rem;

	transition: .2s;
}

.select-model:hover .marker{;
	visibility: visible;
	height: 4px;
	background: var(--primaryColor);
}

.Error{
	color: red;
}