:root{
	--primaryColor: #08EEE0;
	--mainDarkGray:  #5C5C5C;
	--mainBlack: #3E3C3C;
}

body{
	background: var(--mainDarkGray);
}

/* MENU BAR */

.menu-bar{
	position: absolute;
	width: 100%;
	height: 89px;
	left: 0px;
	top: 0px;
	background:var(--mainBlack);

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	color: var(--primaryColor);
}

.main-title{

	margin:2rem;
	font-family: 'JejuMyeongjo';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 48px;
	color: #08EEE0;
}
.select-model{

	font-family: 'JejuMyeongjo';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 48px;
	color: #08EEE0;
}

/*MAIN CONTAINER*/

.input-container{
	display: flex;
	flex-direction: row;
	margin: 300px;
	margin-top: 2rem;
}

.main-container{
	margin-top: 6rem;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: var(--mainDarkGray);
}

.image-container{
	box-sizing: border-box;
	width: 25rem;
	height: 20rem;
	overflow: hidden;
background: rgba(0, 0, 0, 0.2);
border: 1px solid var(--primaryColor);
}


.img{
	width: 25rem;
	height: 20rem;
}




/*BUTTONS */

.btn-style{
	background: var(--mainBlack);
	border: 1px solid var(--primaryColor);
	cursor: pointer;
	margin: .5rem;
	width: 9rem;
	height: 2.7rem;

	color: var(--primaryColor);
}

input[type="file"] {
    display: none;
}

/*in my case the label is now the button*/
.upload-file{
	background: var(--mainBlack);
	border: 1px solid var(--primaryColor);
	cursor: pointer;
	margin: .5rem;
	width: 8rem;
	height: 2rem;
	padding-left: 1rem;
padding-top: .6rem;


	color: var(--primaryColor);

}
