:root{
	--primaryColor: #08EEE0;
	--mainDarkGray:  #5C5C5C;
	--mainBlack: #3E3C3C;
	--mainTransiction: all 0.3s linear;
}

html,body{
	height: 500px;
}

body{
	background: var(--mainDarkGray);
	/* display: flex;
	flex-direction: column; */
/*	max-height: 100px;*/
}

/* MENU BAR */

.menu-bar{
	position: absolute;
	width: 100%;
	min-width: 950px;
	height: 89px;
	left: 0px;
	top: 0px;
	background:var(--mainBlack);

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	color: var(--primaryColor);
}

.main-title{

	margin:2rem;
	font-family: 'JejuMyeongjo';
	font-style: normal;
	font-weight: 400;
	font-size: 48px;
	line-height: 48px;
	color: #08EEE0;
}
.select-model{

	position: absolute;
	right: 1.5rem;

	font-family: 'JejuMyeongjo';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 48px;
	color: #08EEE0;
	transition: var(--mainTransiction);
}


/*MAIN CONTAINER*/

.input-container{
	display: flex;
	flex-direction: row;
/*	margin: 300px;*/
	margin-top: 2rem;
}

.main-container{
	margin-top: 7rem;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: var(--mainDarkGray);
	min-width: 950px;
}

.main-container h3{
	margin-bottom: 1rem;
}

.image-container{
	box-sizing: border-box;
	width: 25rem;
	height: 20rem;
	overflow: hidden;
background: rgba(0, 0, 0, 0.2);
border: 1px solid var(--primaryColor);
}


.img{
	width: 25rem;
	height: 20rem;
}

.model-information{
	position: absolute;
	color: var(--primaryColor);
	margin-top:13rem;
}

/*BUTTONS */

.btn-style{
	background: var(--mainBlack);
	border: 1px solid var(--primaryColor);
	cursor: pointer;
	margin: .5rem;
	width: 11rem;
	height: 2.7rem;

	font-size: 1rem;
	letter-spacing: .2rem;

	color: var(--primaryColor);
	transition: .2s;
}

.btn-style:hover{
	background: var(--primaryColor);
	color: var(--mainDarkGray);

}

input[type="file"] {
    display: none;
}

/*in my case the label is now the button*/
.upload-file{
	background: var(--mainBlack);
	border: 1px solid var(--primaryColor);
	cursor: pointer;
	margin: .5rem;
	width: 11rem;
	height: 2rem;
	padding-left: 1.9rem;
	padding-top: .6rem;

	font-size: 1rem;
	letter-spacing: .1rem;


	color: var(--primaryColor);
	transition: .2s;
	padding-bottom: 2rem;

}

.upload-file:hover{
	background: var(--primaryColor);
	color: var(--mainDarkGray);
}

.camera-icon{
	width: 50px;
	color: var(--primaryColor);
}

/*MENU FOR THE SELECTION OF MODELS*/

.select-model{
	cursor: pointer;
}

.model-selection{
	position: absolute;
	top: 6rem;
	right: 3rem;
	background: var(--mainBlack);
	color: var(--primaryColor);
	border-radius: .8rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	padding: 0;	
	transition: var(--mainTransiction);
}

.menu-hidden{
	visibility: hidden;
}

.model{
	padding: .8rem .25rem;
	font-size: 1.5rem;
	margin:0;
	width: 15rem;
	border-radius: 1rem;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: .2s;

}

.model:hover{
	background: var(--primaryColor);
	color: var(--mainDarkGray);
	cursor: pointer;
}

.selected{
	background: var(--primaryColor);
	color: var(--mainDarkGray);
}

.marker{
	position: absolute;
	width: 7rem;
	visibility: hidden;
	top: 3rem;
	border-radius: 1rem;

	transition: .2s;
}

.hidden{
	visibility: hidden;
}

.select-model:hover .marker{
	visibility: visible;
	height: 4px;
	background: var(--primaryColor);
}

.Error{
	color: red;
}

a, a:visited {
	text-decoration: none;
	color: var(--primaryColor);
}

a:hover{
	color:var(--mainBlack);
}

.other-link, .other-link:visited{
	color: dimgray;
}
.other-link:hover{
	filter: brightness(1.7);
}
/*icon and url*/
.info-url{
	position: absolute;
	padding-left: 12.5rem;
	color: var(--primaryColor);
}


/*configuring backdrop*/

.backdrop{
	position: fixed;
	top:0;
	background: var(--mainBlack);
	opacity: 0.5;
}

.off{
	width: 0;
	visibility: hidden;
	
}

.on{
	width: 100%;
	height: 100%;
	min-height: 100vh;
	visibility: visible;

}

.loader{
	position: fixed;
	top: 2rem;
}


/*footer*/

footer{
	position: absolute;
	width: 100%;
	display: flex;
	min-width: 950px;
	align-items: column;
	justify-content: space-between;
	align-items: center;

	background: var(--mainBlack);
	color: dimgray;
	padding: 1rem 8rem;
	padding-bottom: 5rem;
/*	height: 10rem;*/
}

li:hover{
	filter: brightness(1.7);
	cursor: pointer;
}

.non_link:hover{
	cursor: inherit;
}
li+li{
	margin-top: .5rem;
}

.what-is-it{
	margin-top: 1.5rem;
}
/*informative banner*/

.not-show{
/*	visibility: hidden;*/
	transform: translateX(-100%);
}

.shown{
/*	visibility: visible;*/
	transform: translateX(0);
}

.info-banner{
	position: absolute;
	bottom: 10rem;
	left: 0;
	width: 30%;
	height: 100vh;
	background: var(--mainBlack);
	color: dimgray;

	padding: 1rem;

	transition:  all 0.5s ease-out;
}

.info-banner h5{
	color: white;
	font-size: 1.5rem;
}

.code-icon{
	width: 1.5rem;
}

.icon-container{
	position: relative;
	left: 6rem;
	bottom: 1.5rem;
}

/*CAMER ICON*/

.camera-icon{
	width: 40px;
	cursor: pointer;
}

.camera-icon:hover{
	filter: brightness(1.8);
}

.camera-icon:hover ~ .add-camera{
	color: var(--primaryColor);
}

.add-camera{
	transition: 0.2s color;
}

.camera-icon-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.camera-icon-container p{
	color: var(--mainDarkGray);
}


/*RESULT*/

.result-info{
	position: absolute;
	left: 54rem;
	top: 10rem;
	background: var(--mainBlack);
	border-radius: 1rem;
	margin-right: 1rem;

	color: var(--primaryColor);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	min-width: 20rem;
}

.top5-container{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-around;
	padding-top: .8rem;
}

.top5-container li{
	cursor: inherit;
}

.label-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.result-title{
	font-size: 1.4rem;
	border-bottom: 1px solid var(--primaryColor);
	width: 100%;

	display: flex;
	justify-content: center;
}
.result-title h3{
	margin:0;
	padding:0;
}


.video-overlay{
	position: absolute;
	top:0;
	left: 0;
	/* bottom:0; */

	width: 100%;
	min-height: 100vh;

	margin:0;
	padding:0;
	box-sizing: border-box;

	background-color: rgba(0, 0, 0, 0.5);

	display: flex;
	align-items: center;
	justify-content: center;

	flex-grow: 1;
}

.video-container{
	height: 35rem;
	width: 35rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* border: 1px solid var(--primaryColor); */
}

.video-capture{
	border: 1px solid var(--primaryColor);

}

.close-btn-container{
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: right;
}

.close-capture{
	color: var(--primaryColor);
	background-color: #5C5C5C;

	border:none;
	padding: .25rem .8rem;
}

.close-capture:hover{
	background-color: #08EEE0;
	color: #3E3C3C;
}

.dbl-title{
	color:#08EEE0;
	font-size: 2rem;
	font-family: 'Courier New', Courier, monospace;
}