<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Deep learning Image classifier</title>
	<link rel="icon" type="image/x-icon" href="{{url_for('static',filename = 'DL_icon.png')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'main.css')}}">
	<script src="https://kit.fontawesome.com/6c1da93a13.js" crossorigin="anonymous"></script>

	<!-- install tailwind -->
	<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
  rel="stylesheet" />
	<link
	  rel="stylesheet"
	  href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
	<script src="https://cdn.tailwindcss.com/3.2.4"></script>
	<script>
	  tailwind.config = {
	    darkMode: "class",
	    theme: {
	      fontFamily: {
	        sans: ["Roboto", "sans-serif"],
	        body: ["Roboto", "sans-serif"],
	        mono: ["ui-monospace", "monospace"],
	      },
	    },
	  };
	</script>

</head>

<body>

	<nav class="menu-bar">
		<h2 class="main-title">Deep Learning Image Classifier</h2><span class="select-model"> <div class ="marker"> </div>Model <i class="fa-solid fa-chevron-down"></i></span>
	</nav>

	<div class="main-container">
		<h3>Choose an image and a model for classification </h3>
			<div class="image-container">
			</div>

			<span class="model-information"></span>
		<form action = "/">
			<div class="input-container">
				<label for="user-input-id" class ="upload-file">UPLOAD IMAGE </label>
				<input class = "btn-style" type="file" id = "user-input-id" name="user-input" onchange="showFile(this)">
				<button class="btn-style continue-button">CONTINUE</button>
			</div>
		</form>
	</div>

	<div class="model-selection hidden">
		{% for model,url in models %}
			<section class="model"> {{model}}  <span class="info-url"> <a href= {{url}} ><i class="fa-regular fa-circle-question"></i></a></span></section>
		{% endfor %}
	</div>

	<!-- backdrop -->

	<div class="backdrop off flex-initial justify-center items-center">
	</div>
	<div class=" off loader flex items-center justify-center">
		  	<div
		    class=" m-2 inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite] text-cyan-300"
		    role="status">
		   </div><span class="text-cyan-300"> ... Processing</span>
	</div>

	<!-- end of backdrop -->
	<footer>
		<div class="info-banner hidden">
			<h5> What is the deep Learning Image Classifier? </h5>
			<p class = "text-justify mx-2 mt-7"> The deep learning Image classifier is a simple web application that allows user to use various pretrainded machine learning models that were trained in the imagenet dataset. You can click in the informative link in the model's tab to be directed to a pytorch implementation of that particular model. This can be used to quickly test a pretreined model in a particular image type for a better understanding of the precision and capability of each model</p>
	</div>
		<ul>
			<li class="what-is-it">What is the deep learning classifier?</li>
			<li class="src-container"> 
				<a class = "other-link" href="https://github.com/lucp770/DL-image-Classifier"> Source code  </a>
				<span class="icon-container"><img class = "code-icon"src ="{{url_for('static',filename = 'src_icon.png')}}"/></span>
			</li>
		</ul>

		<ul>
			<li class="non_link">Designed and built by Lucas P.F </li>
			<li class="non_link"> lucas.developer770@gmail.com </li>
		</ul>
	</footer>

<script src="{{url_for('static',filename = 'main.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</body>
</html>

<!--- 
-um projeto usando flask, selecione entre dois possíveis modelos de classificação de imagens. (simple CNN ou VGG), o usuario faz o upload da imagem, o servidor checka o formato, responde, a imagem aparece na tela. O botao de classificação torna-se visivel. Ao classificar, a resposta é devolvida para o usuário.
--->